* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;

  background-color: #1c1c1c;
  font-family: "Inter", sans-serif;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
}

/* HEADER */
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.528), rgba(0, 0, 0, 0.854)),
    url("./images/picture-frames.jpg");
  box-shadow: 5px;
  height: 20.8rem;
  flex-direction: column;
  justify-content: center;
}

.search-form {
  display: flex;
}

.search-input {
  background-image: url("./images/Search.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
  background-color: #272727;
  color: #fff;

  border: none;
  padding: 9px 20px;
  width: 100%;
  margin-left: 4.4rem;
}

.search-btn {
  background-color: #4b4b4b;
  border: none;
  padding: 0 25px;
  margin-right: 4.4rem;

  color: #fff;
}

.title {
  font-size: 4.3rem;
  font-weight: 800;
}

.titles {
  justify-content: space-evenly;
  align-items: center;
}

.my-watchlist {
  font-size: 1.4rem;
  font-weight: 700;
}

/* MOVIE CONTENT */
.main-content {
  width: 55rem;
  margin: 0 auto;
  color: #fff;
  height: 78rem;
}

.movies {
  background-color: #0e0e0e;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: calc(78rem - 20.8rem);
}

.icon-description {
  font-size: 1.8rem;
  color: #2e2e2f;
}
