* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;

  background-color: #1c1c1c;
  font-family: "Inter", sans-serif;
}

h1,
p {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
}

/* UTILITY CLASSES */
.flex-container {
  display: flex;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* HEADER */
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.528), rgba(0, 0, 0, 0.854)),
    url("./images/picture-frames.jpg");
  box-shadow: 5px;
  height: 20.8rem;
}

.my-watchlist {
  font-size: 1.4rem;
  font-weight: 700;
}

.my-watchlist a {
  text-decoration: none;
  color: #fff;
}

/* SEARCH */
.search-form {
  border-radius: 6px;
}

.search-input {
  background-image: url("./images/Search.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
  background-color: #272727;

  border-radius: 6px 0px 0px 6px;
  color: #fff;
  border: none;
  padding: 9px 20px;
  width: 100%;
  margin-left: 4.4rem;
}

.search-btn {
  background-color: #4b4b4b;
  border: none;
  border-radius: 0px 6px 6px 0px;
  padding: 0 25px;
  margin-right: 4.4rem;

  color: #fff;
}

.title {
  font-size: 4.3rem;
  font-weight: 800;
}

.titles {
  justify-content: space-evenly;
  align-items: center;
}

/* MOVIE CONTENT */
.main-content {
  width: 55rem;
  margin: 0 auto;
  color: #fff;
  height: 78rem;
}

.movies {
  background-color: #0e0e0e;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  overflow-y: auto;
  min-height: 55rem;
}

.movie {
  padding: 0 4.4rem 3rem 4.4rem;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
  gap: 2.1rem;
}

.movie:first-child {
  margin-top: 5rem;
}

.movie-poster {
  width: 10rem;
  height: auto;
}

.movie-plot {
  font-size: 1.4rem;
  color: #a5a5a5;
}

.icon-description {
  font-size: 1.8rem;
  color: #2e2e2f;
}

ul {
  display: flex;
  gap: 0.5rem;
  padding: 0;
}

ul li {
  list-style-type: none;
  font-size: 1.2rem;
}

.add-to-watchlist {
  border-radius: 50%;
  height: 1.6rem;
  width: 1.6rem;
  border: none;
}
